<!-- NAV BAR -->
<div class="navbar-fixed"> 
    <nav class="deep-purple darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#/admin/home" class="brand-logo tooltipped" data-position="right" data-tooltip="Home">
                    <div class="row">
                      <!-- ACSS LOGO -->
                      <div class="col s12 m2"><img src="/../../assets/images/logo.png" id="acsslogo"></div>
                      <!-- APP NAME -->
                      <div class="col s12 m10">
                        <span class="white-text left" id="appname">ACSS++ | Applicants</span>
                      </div>
                    </div>
                </a>
                <!-- MENU -->
                <ul class="right hide-on-med-and-down">
                    <li>username</li>
                    <li><a href="#/admin/progress" class="tooltipped" data-position="bottom" data-tooltip="Applicants"><i class="material-icons">person_pin</i></a></li>
                    <li><a href="#/admin/announcement" class="tooltipped" data-position="bottom" data-tooltip="Announcement"><i class="material-icons">announcement</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-hover="true" data-activates="dropdown1"><i class="material-icons">settings</i></a></li>
                </ul>
                <!-- SETTINGS DROPDOWN -->
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="#!">Sign Out</a></li>
                </ul>
                <!-- SIDE NAV FOR MOBILE -->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li><div class="userView light-blue darken-3">
                    <a href="#!user"><img class="circle" src="assets/images/jem.jpg"></a>
                    <a href="#!name"><span class="white-text name">Jemimah Mae Molina</span></a>
                    <a href="#!email"><span class="white-text email">jhmolina@up.edu.ph</span></a>
                </div></li>
                    <li><a href="#/admin/home">Home</a></li>
                    <li><a href="#/admin/progress">Applicants</a></li>
                    <li><a href="#/admin/announcement">Announcement</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <div class="card white lighten-4">
        <div class="center">
          <br><h5 class="grey-text text-darken-1">APPLICANTS</h5>
        </div>
        <div class="card-content" ng-repeat='recruit in recruits'>
          <div class="collapsible-header">
            <div class="row center">
              <div class="col s12 m4">
                <span class="grey-text text-darken-1">{{recruit.givenname + ' ' + recruit.surname}}</span>
              </div>
              <div class="col s12 m8">
                <div class="grey lighten-3 progress">
                 <div class="blue accent-3 determinate" style="width: 70%"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4">
                <span class="grey-text text-darken-1">STATUS: {{recruit.progress}}</span>
              </div>
              <div class="col s12 m5">
                <select ng-model='recruit.progress' status-directive>
                  <option value="" disabled selected>Select Status</option>
                  <option value="Orientation">Orientation</option>
                  <option value="Panel Interview">Panel Interview</option>
                  <option value="Academic Exam">Academic Exam</option>
                  <option value="Finals">Finals</option>
                </select>
              </div>
              <div class="col s12 m3">
                 <button class="btn waves-effect waves-light deep-purple accent-3" ng-click='updateProgress(recruit)'>UPDATE</button> 
              </div>
              <div class="col s12 m3">
                 <button class="btn waves-effect waves-light deep-purple accent-3" ng-click='promoteApplicant(recruit)'>PROMOTE APPLICANT</button> 
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col s12 m4">
      <div class="card white lighten-4">
        <div class="card-content">
          <div class="center">
            <h5 class="grey-text text-darken-1">SEND INVITE</h5>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" ng-model="email">      
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12"> 
              <input id="password" type="password" class="validate" ng-model="password">
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <input id="recipient" type="email" class="validate" ng-model="recipient">
              <label for="recipient">Recipient</label>
            </div>
          </div>
          <div class="row right-align">
            <button class="btn waves-effect waves-light deep-purple accent-3" ng-click='sendInvite(email, password, recipient)'>INVITE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/../../assets/js/custom.js"></script>