<!-- NAV BAR -->
<div class="navbar-fixed"> 
    <nav class="light-blue darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#/applicant/home" class="brand-logo">
                    <!-- ACSS LOGO -->
                    <span><img src="/../assets/images/logo.png" id="acsslogo"></span>
                    <!-- APP NAME -->
                    <span class="white-text" id="appname">&nbsp;Recruiter</span>
                </a>
                <!-- MENU -->
                <ul class="right hide-on-med-and-down">
                    <li><a href="#/applicant/home">Home</a></li>
                    <li><a href="#/applicant/profile" class="tooltipped" data-position="bottom" data-tooltip="Profile"><i class="material-icons">person_pin</i></a></li>
                    <li><a href="#/applicant/announcement" class="tooltipped" data-position="bottom" data-tooltip="Announcement"><i class="material-icons">message</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-hover="true" data-activates="dropdown1"><i class="material-icons">settings</i></a></li>
                </ul>
                <!-- SETTINGS DROPDOWN -->
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="#!">Sign Out</a></li>
                </ul>
                <!-- SIDE NAV FOR MOBILE -->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li><div class="userView light-blue darken-3">
                    <a href="#!user"><img class="circle" src="assets/images/jem.jpg"></a>
                    <a href="#!name"><span class="white-text name">Jemimah Mae Molina</span></a>
                    <a href="#!email"><span class="white-text email">jhmolina@up.edu.ph</span></a>
                </div></li>
                    <li><a href="#/applicant/home">Home</a></li>
                    <li><a href="#/applicant/profile">Profile</a></li>
                    <li><a href="#/applicant/announcement">Announcement</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--Main contents-->
<div class="container">

<!--Text areaa-->
<div class="row">
     <form class="col s12">
        <div class="row">
             <div class="input-field col s12">
                 <textarea id="textarea1" class="materialize-textarea"></textarea>
            </div>
       </div>
    </form>
    <div class ="row right-align">
        <button class="btn waves-effect waves-light blue accent-3" type="submit" name="action">POST
             <i class="material-icons right">send</i>
        </button> 
    </div>
</div>


<div class="row" style="margin-top: -20px;">
    <div class="col s12">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text center-align">
                        <span class="card-title">FROM GROUP</span>
                            <div class="card">
                                <div class="card-content black-text">
                                    <p> Some post here... </p>
                                     <a class='dropdown' href='#' data-activates='dropdown2'><i class="material-icons">label</i></a>    

                                      <!-- Dropdown Structure -->
                                      <ul id='dropdown2' class='dropdown-content'>
                                        <li><a class="modal-trigger" href="#modal1">Edit</a></li>
                                        <li><a href="#!">Delete</a></li>
                                      </ul>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-content black-text center-align">
                                    <p> Some post here... </p>
                                     <a class='dropdown' href='#' data-activates='dropdown3'><i class="material-icons">label</i></a>    

                                      <!-- Dropdown Structure -->
                                      <ul id='dropdown3' class='dropdown-content'>
                                        <li><a class="modal-trigger" href="#modal1">Ddit</a></li>
                                        <li><a href="#!">Delete</a></li>
                                      </ul>
                               </div>
                            </div>
                    </div>
                </div>  
            </div>
            <!--CONTENTS-->
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text center-align">
                        <!--TWO CARD PANELS FOR EACH ANNOUNCEMENTS(ADIN, APPLICANT)-->
                        <span class="card-title">FROM ADMIN</span>
                             <div class="card">
                                <div class="card-content black-text center-align">
                                    <p> Some post here... </p>
                                    <!--BUTTON FOR EDITING/DELETING THE POST-->
                                       <a class='dropdown' href='#' data-activates='dropdown6'><i class="material-icons">label</i></a>
                                      <!-- Dropdown Structure -->
                                      <ul id='dropdown6' class='dropdown-content'>
                                        <li><a class="modal-trigger" href="#modal1">Edit</a></li>
                                        <li><a href="#!">Delete</a></li>
                                      </ul>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-content black-text center-align">
                                    <p> Some post here... </p>
                                    <!--TWO CARD PANELS FOR EACH ANNOUNCEMENTS(ADIN, APPLICANT)-->
                                    <a class='dropdown' href='#' data-activates='dropdown5'><i class="material-icons">label</i></a>    
                                      <!-- Dropdown Structure -->
                                      <ul id='dropdown5' class='dropdown-content'>
                                        <li><a class="modal-trigger" href="#modal1">Edit</a></li>
                                        <li><a href="#!">Delete</a></li>
                                      </ul>

                                </div>
                            </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!--MODAL STRUCTURES-->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>New post..<h4>
        <!--TEXT AREA FOR NEW POST-->
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">EDIT</a>
    </div>
</div>

<script type="text/javascript" src="../assets/js/custom.js"></script>