<!DOCTYPE html>
<html>
    <head>
        <title>[ACSS] Applicant Profile</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../assets/materialize/css/materialize.min.css" media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
    </head>

    <body class="grey lighten-2">
        <main>
            <!-- NAV BAR -->
            <div class="navbar-fixed">
                <nav class="light-blue darken-3">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a href="#!" class="brand-logo">
                                <!-- ACSS LOGO -->
                                <span><img src="../assets/images/logo.png" id="acsslogo2"></span>
                                <!-- APP NAME -->
                                <span class="white-text" id="appname">&nbsp;Recruiter</span>
                            </a>
                            <!-- MENU -->
                            <ul class="right hide-on-med-and-down">
                                <li><a href="#">Home</a></li>
                                <li><a href="#"><i class="material-icons">person_pin</i></a></li>
                                <li><a href="#"><i class="material-icons">message</i></a></li>
                                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">settings</i></a></li>
                            </ul>
                            <!-- SETTINGS DROPDOWN -->
                            <ul id="dropdown1" class="dropdown-content">
                              <li><a href="#!">Edit Profile</a></li>
                              <li><a href="#!">Sign Out</a></li>
                            </ul>
                            <!-- SIDE NAV FOR MOBILE -->
                            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                            <ul class="side-nav" id="mobile-demo">
                                <li><div class="userView light-blue darken-3">
                                <a href="#!user"><img class="circle" src="../assets/images/eddie.jpg"></a>
                                <a href="#!name"><span class="white-text name">Eddie Vallejos</span></a>
                                <a href="#!email"><span class="white-text email">eavallejos@up.edu.ph</span></a>
                            </div></li>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Announcements</a></li>
                                <li><a href="#">Edit Profile</a></li>
                                <li><a href="#">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

         

                  
            <div class="container center">
                <div class="row" style="padding: 3% 3% 0% 3%"  align="middle">
                    <div class="progress">
                        <div class="determinate" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4" style="padding: 0% 2% 0% 2%">
                        <div class="row">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../assets/images/eddie.jpg" id="profile-pic" >
                                </div>
                                <div class="card-content">
                                    <p>EddieZoned</p>
                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                          <i class="material-icons circle">folder</i>
                                          <span class="title">Application form</span>
                                          <p>August 19, 2016</p>
                                        </li>
                                        <li class="collection-item avatar">
                                          <i class="material-icons circle">assignment</i>
                                          <span class="title">Academic exam</span>
                                          <p>August 22, 2016</p>
                                        </li>
                                        <li class="collection-item avatar">
                                          <i class="material-icons circle">question_answer</i>
                                          <span class="title">Panel interview</span>
                                          <p>August 25, 2016</p>
                                        </li>
                                        <li class="collection-item avatar">
                                          <i class="material-icons circle">assignment_ind</i>
                                          <span class="title">Reporting</span>
                                          <p>September 2, 2016</p>
                                        </li>
                                        <li class="collection-item avatar">
                                          <i class="material-icons circle">done_all</i>
                                          <span class="title">Finals</span>
                                          <p>September 3, 2016</p>
                                        </li>
                                      </ul>
                                </div>
                                <div class="card-action">
                                    <a href="#" class="blue-text darken-3">See details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 l8" style="padding: 0% 2% 0% 2%">
                        <div class="row">
                            <div class="card">
                                <div class="card-content">
                                    <table class="center">
                                        <tbody>
                                        <tr>
                                            <th>Username:</th>
                                            <td>EddieZoned</td>
                                        </tr>
                                        <tr>
                                            <th>Password:</th>
                                            <td>********</td>
                                            <td><a class="waves-effect waves-light light-blue darken-3 btn modal-trigger right" href="#modal1">Edit</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Modal Trigger -->
                                    

                                    <!-- Modal Structure -->
                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                            <h4>Edit Credentials</h4>
                                            <form style="text-align: left">
                                                <label>Credentials</label>
                                                <div class="row">
                                                    <div class="input-field col s12 m6 l6">
                                                        <input value="EddieZoned" id="username" type="text" class="validate">
                                                        <label for="username">Username</label>
                                                    </div>
                                                    <div class="input-field col s12 m6 l6">
                                                        <input value="password" id="password" type="password" class="validate">
                                                        <label for="password">Password</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class=" modal-action modal-close btn waves-effect waves-light light-blue darken-3">Save Changes</a>
                                        </div>
                                    </div>
                                    <table class="center">
                                        <tbody>
                                        <tr>
                                            <th>Personal Information</th>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td>Eddie Antalan Vallejos</td>
                                        </tr>
                                        <tr>
                                            <td>Nickname:</td>
                                            <td>Eddie</td>
                                        </tr>
                                        <tr>
                                            <td>Email address:</td>
                                            <td>eavallejos@up.edu.ph</td>
                                        </tr>
                                        <tr>
                                            <td>Contact number:</td>
                                            <td>09778404162</td>
                                        </tr>
                                        <tr>
                                            <th>Educational Information</th>
                                        </tr>
                                        <tr>
                                            <td>Student number:</td>
                                            <td>2014-12701</td>
                                        </tr>
                                        <tr>
                                            <td>Degree program:</td>
                                            <td>BSCS</td>
                                        </tr>
                                        <tr>
                                            <td>Adviser</td>
                                            <td>Mam Miyah Queliste</td>
                                        </tr>
                                        <tr>
                                            <td>Year in curriculum:</td>
                                            <td>Junior</td>
                                        </tr>
                                        <tr>
                                            <td>Overall GWA:</td>
                                            <td>1.0</td>
                                        </tr>
                                        <tr>
                                            <td>Preferred PL(s):</td>
                                            <td>language of love</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th>Some Other Questions</th>
                                        </tr>
                                        <tr>
                                            <td>Why do you want to join our organization?</td>
                                        </tr>
                                        <tr>
                                            <td><3<3<3</td>
                                        </tr>
                                        <tr>
                                            <td>What can you offer to our organization?</td>
                                        </tr>
                                        <tr>
                                            <td><3<3<3</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light light-blue darken-3 btn modal-trigger" href="#modal2">Edit Profile</a>

                                    <!-- Modal Structure -->
                                    <div id="modal2" class="modal">
                                    <div class="modal-content">
                                        <h4>Edit Profile</h4>
                                        <form style="text-align: left">
                                            
                                            <label>Personal Information</label>
                                            <div class="row">
                                                <div class="input-field col s12 m3 l3">
                                                    <input value="Vallejos" id="lname" type="text" class="validate">
                                                    <label for="lname">Last name</label>
                                                </div>
                                                <div class="input-field col s12 m3 l3">
                                                    <input value="Eddie" id="fname" type="text" class="validate">
                                                    <label for="fname">First name</label>
                                                </div>
                                                <div class="input-field col s12 m2 l2">
                                                    <input value="Antalan" id="mname" type="text" class="validate">
                                                    <label for="mname">Middle name</label>
                                                </div>
                                                <div class="input-field col s12 m2 l2">
                                                    <input value="N/A" id="suffix" type="text" class="validate">
                                                    <label for="Suffix">Suffix</label>
                                                </div>
                                                <div class="input-field col s12 m2 l2">
                                                    <input value="Eddie" id="nname" type="text" class="validate">
                                                    <label for="nname">Nickname</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="eavallejos@up.edu.ph"  id="email" type="text" class="validate">
                                                    <label for="email">Email address</label>
                                                </div>
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="09778404162" id="contact" type="text" class="validate">
                                                    <label for="contact">Contact number</label>
                                                </div>
                                            </div>
                                            <label>Educational Information</label>
                                            <div class="row">
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="2014-12701" id="studno" type="text" class="validate">
                                                    <label for="studno">Student number</label>
                                                </div>
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="BSCS"  id="course" type="text" class="validate">
                                                    <label for="course">Degree program</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="Mam Miyah Queliste" id="adviser" type="text" class="validate">
                                                    <label for="adviser">Adviser</label>
                                                </div>
                                                <div class="input-field col s12 m6 l6" id="year">
                                                    <select class="inputfields">
                                                        <option value="">Year in curriculum</option>
                                                        <option value="1">Sophomore</option>
                                                        <option value="2" selected>Junior</option>
                                                        <option value="3">Senior</option>
                                                    </select>
                                                    <label for="year">Year in curriculum</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="1.0" id="gwa" type="text" class="validate">
                                                    <label for="gwa">Overall GWA</label>
                                                </div>
                                                <div class="input-field col s12 m6 l6">
                                                    <input value="language of love"  id="gwa" type="text" class="validate">
                                                    <label for="gwa">Preferred programming language/s</label>
                                                </div>
                                            </div>
                                            <label>Some Other Questions</label>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input value="<3 <3 <3" id="why"  type="text" class="validate"></input>
                                                    <label for="why">Why do you want to join our organization?</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input value="<3 <3 <3" id="what" type="text" class="validate"></input>
                                                    <label for="what">What can you offer to our organization?</label>
                                                </div>
                                            </div>
                                            <label>Schedule</label>
                                            <div class="row" style="margin-top:-12px;">
                                                <div class="input-field col s12">
                                                    <div class="file-field input-field">
                                                        <div class="btn grey lighten-2 black-text">
                                                            <span>Browse</span>
                                                            <input type="file">
                                                        </div>
                                                        <div class="file-path-wrapper">
                                                            <input value="14520556_10154659498742922_8637349490065642455_n.png" class="file-path validate" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12" style="text-align:center;">
                                                    <input type="checkbox" class="filled-in" id="filled-in-box">
                                                    <label for="filled-in-box">I certify that the above information is true and correct as to the best of my knowledge.</label>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class=" modal-action modal-close btn waves-effect waves-light light-blue darken-3">Save Changes</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

        </main>

        <!-- FOOTER -->
        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row center">
                    <a href="https://www.facebook.com/ACSSPH/?fref=ts"><img src="../assets/images/facebook.png" class="social-media"></a>
                    <a href="https://twitter.com/ACSSUPLB"><img src="../assets/images/twitter.png" class="social-media"></a>
                    <a href="https://plus.google.com/101746643625582036040"><img src="../assets/images/gplus.png" class="social-media"></a>
                </div>
                <div class="row center">
                    <p class="white-text footer-links">|</p>
                    <a class="white-text footer-links" href="#">ABOUT</a>
                    <p class="white-text footer-links">|</p>
                    <a class="white-text footer-links" href="#">CONTACT</a>
                    <p class="white-text footer-links">|</p>
                </div>
            </div>
            <div class="footer-copyright light-blue darken-3">
                <div class="container center">
                    © 2016 ACSS-UPLB | All rights reserved
                </div>
            </div>
        </footer>


     <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../assets/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/custom.js"></script>

    </body>
</html>