


  <div class="center">
  <div>
    <div class="row container" style="opacity: 70%">
      <div class="center"><img src="assets/images/logo3.png" class="s12 m12">
      </div>
      <h3>DESCRIPTION</h3>
    </div>
  </div>  

  <div class="parallax-container">
      <div class="parallax"><img src="assets/images/parallax3.jpg"></div>
    </div>
  

  <div class="section">
    <div class="row container">
      <div class="center"><img src="assets/images/logo3.png" class="s12 m12">
      <h3>ALLIANCE OF COMPUTER SCIENCE STUDENTS UPLB</h3>
      </div>
      
      <p style="text-align: center;">ACSS-UPLB is a recently established academic and service-oriented organization that aims to develop the skills and abilities of its members, and teach them to be more worthy of the title "Iskolar ng Bayan para sa Bayan". The organization also aims to assist the university and the society by using its acquired knowledge and sharing them to other people.</p>
    </div>
    </div>
    </div>
  <!-- FOOTER -->
  <footer class="page-footer grey darken-4">
      <div class="container">
          <div class="row center">
              <a href="https://www.facebook.com/ACSSPH/?fref=ts"><img src="assets/images/facebook.png" class="social-media"></a>
              <a href="https://twitter.com/ACSSUPLB"><img src="assets/images/twitter.png" class="social-media"></a>
              <a href="https://plus.google.com/101746643625582036040"><img src="assets/images/gplus.png" class="social-media"></a>
          </div>
          <div class="row center">
              <p class="white-text footer-links">|</p>
              <a class="white-text footer-links" href="#">ABOUT</a>
              <p class="white-text footer-links">|</p>
              <a class="white-text footer-links" href="#">CONTACT</a>
              <p class="white-text footer-links">|</p>
              <a class="white-text footer-links" href="#">JOIN</a>
              <p class="white-text footer-links">|</p>
          </div>
      </div>
      <div class="footer-copyright light-blue darken-3">
          <div class="container center">
              © 2016 ACSS-UPLB | All rights reserved
          </div>
      </div>
  </footer>