<!DOCTYPE html>
<html>
    <head>
        <title>[ACSS] Login</title>
         <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../assets/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
    </head>

    <body class="container ">
        <div class="center c">
            <!-- login card -->
            <div class="card bordered cb z-depth-2">
                <!-- acss logo as card header -->
                <div class="card-header light-blue darken-3">
                    <a href="#" class="white-text"><img class="responsive-img center-align" id="acsslogo" src="../assets/images/logo.png" id="acsslogo" align="middle"></a>
                </div>
                <div class="card-content">
                    <!-- login form -->
                    <form>
                        <!-- username -->
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate" style="margin-bottom: 17px;">
                            <label for="username">Username</label>
                        </div>
                        <!-- password -->
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" style="margin-bottom: 17px;">
                            <label for="password">Password</label>
                        </div>
                        <!-- forgot password -->
                        <div class="input-field col s12 center-align" id="forgot">
                            <a class="blue-text text-darken-3" href="#">Forgot Password?</a>
                        </div>
                        <!-- login button -->
                        <div class="input-field col s12 center-align">
                            <a href="#" class="btn waves-effect waves-light light-blue darken-3" id="login">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../assets/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="../assets/js/custom.js"></script>
    </body>
</html>