<div class="container" id="cont">
  <div class="row">
    <div class="col s12 m6 l64">
      <div class="row center">
          <a href="#"><img class="responsive-img center-align" id="acsslogo" src="/../assets/images/logo.png" height="360px" width="311px" align="middle"></a>
        </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="row">
        <div class="col s12 white">
          <ul class="tabs">
            <li class="tab col s1 tab-accent-blue"><a class="active blue-text text-darken-3" href="#login">Login</a></li>
            <li class="tab col s1 tab-accent-blue"><a class="blue-text text-darken-3" href="#signup">Sign up</a></li>
          </ul>
        </div>

        <div id="login" class="col s12 white">
          <form class="s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="tiny material-icons prefix">perm_identity</i>
                <input placeholder="Username" id="username" type="text">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="tiny material-icons prefix">lock_outline</i>
                <input placeholder="Password" id="password" type="password">
              </div>
            </div>
              <div class="input-field col s12 center-align">
                <a class="blue-text text-darken-3" href="#">Forgot Password?</a>
              </div>
            <div class="row">
              <div class="input-field col s12">
              <a href="#" class="btn waves-effect waves-light col s12 blue darken-3">Login</a>
            </div>
           </div>
          </form>
        </div>

        <div id="signup" class="col s12 white">
          <form class="s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="tiny material-icons prefix">contacts</i>
                <input placeholder="First name" id="fname" type="text" class="inputfields">
              </div>
              <div class="input-field col s4">
                <input placeholder="Last name" id="lname" type="text" class="inputfields">
              </div>
              <div class="input-field col s2">
                <input placeholder="MI" id="mi" type="text" class="inputfields">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="tiny material-icons prefix">perm_identity</i>
                <input placeholder="Username" id="username2" type="text" class="inputfields">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="tiny material-icons prefix">lock_outline</i>
                <input placeholder="Password" id="password" type="password" class="inputfields">
              </div>
              <div class="input-field col s6">
                <input placeholder="Re-enter password" id="reenter" type="password" class="inputfields">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="tiny material-icons prefix">person_pin</i> <!--work-->
                  <select class="inputfields">
                    <option value="" disabled selected>Type</option>
                    <option value="1">Super Admin</option>
                    <option value="2">Admin</option>
                    <option value="3">Applicant</option>
                  </select>
              </div>
              <div class="input-field col s6">
                <i class="tiny material-icons prefix">vpn_key</i> <!--live_help-->
                <input placeholder="Code" id="code" type="text" class="inputfields">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <a href="#" class="btn waves-effect waves-light col s12 blue darken-4">Sign up</a>
              </div>
            </div>
          </form>
        </div>

    </div>
  </div>
</div>