<div class="row">
    <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Progress</a></li>
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Sign-out</a></li>
</ul>
<nav>
  <div id="nav"class="nav-wrapper blue accent-3">
    <a href="#!" class="brand-logo">
    <div id="logo">
  <img src="/../assets/images/logo.png" width="60px" alt="" class="circle responsive-img">
   <div id="fine"> Recruitment Management System</div></div>
    </a>
    <ul class="right hide-on-med-and-down">
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
    <img id ="box" src ="/../assets/images/box.png" width = "40px" height = "40px" >
    <i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#!">Progress</a></li>
      <li><a href="#!">Profile</a></li>
      <li><a href="#!">Sign-out</a></li>
    </ul>
  </div>
</nav>


<div class="row">
<div class= "col s4 blue accent-3">
       <div  class="row">
      <div  class="col s12">
        <img  class="responsive-img" id="dp" src="/../assets/images/dp.jpg" width ="200px" height="250px">
        <h5 id="name"> Krisanta S. Agdan </h5>
        <form action="#">
        <p class="range-field">
          <input type="range" id="test5" min="0" max="100" />
        </p>
      </form>

      <div class="row">
        <div id="app1" class="col s12"> PROGRESS

        </div>
      </div>
      

      </div>

</div>
 </div>

<div class="row">
  <div class="col s8 blue accent-3">
  <div class="row">
        <div id="app2" class="col s11"> PROFILE
        <div id="button2">
        <a class="waves-effect waves-light btn blue darken-4">EDIT</a>
        </div>

        </div>

      </div>
  </div>

</div>



 </div>

<script type="text/javascript" src="/../assets/js/custom.js"></script>