<div class="row">
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Progress</a></li>
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Sign-out</a></li>
</ul>
  <nav>
    <div id="nav"class="nav-wrapper blue accent-3">
      <a href="#!" class="brand-logo">
        <div id="logo">
        <img src="/../assets/images/logo.png" width="60px" alt="" class="circle responsive-img">
        <div id="fine"> Recruitment Management System</div>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
        <img id ="box" src ="/../assets/images/menu.png" width = "35px" height = "35px" >
        <i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#!">Progress</a></li>
        <li><a href="#!">Profile</a></li>
        <li><a href="#!">Sign-out</a></li>
      </ul>
    </div>
  </nav>
    
    <div class="row">
      <div class="col s12 m1"></div>
      <div class="col s12 m10">
        <div class="card large white lighten-4">
            <div class="card-content">
              <div class="valign-wrapper">
                <div class="valign">
                  <img src="/../assets/images/user4.png" width="70px" alt="" class="circle responsive-img">
                  <br><span class="grey-text text-darken-1">NAME</span>
                </div>
                <div class="valign container">
                  <p class="range-field">
            <input type="range" id="test" min="0" max="100" />
          </p>
                  <div class="center">
                    <a class="blue darken-3 btn">EDIT</a>
                    <a class="blue darken-3 btn">GO TO PROFILE</a>
                  </div>
                </div>
              </div>
              <br>
              <a href="#">
                <div class="valign-wrapper">
                  <img src="/../assets/images/user1.png" width="40px" alt="" class="circle responsive-img">
                  <span class="grey-text text-darken-1">NAME</span>
                  <div class="container">
                  <p class="range-field">
            <input type="range" id="test1" min="0" max="100" />
          </p></div>
                </div>
              </a>
              
              <br>
              <div class="center">
                <a class="blue darken-3 btn">ADD</a>
                <a class="blue darken-3 btn">DELETE</a>
              </div>
              <div class="center">
                <span class="grey-text text-darken-1">APPLICANT</span>
              </div>
            </div>
        </div>
      </div>
   
      <div class="col s12 m1"></div>
    </div>