<div class="row"></div>
<div class="row">
  <div class="col s12 m1"></div>
  <div class="col s12 m1">
    <div class="card-image">
      <a href="#"><img src="/../assets/images/logo.png" width="60px" alt="ACSS" class="responsive-img"></a>
    </div>
  </div>
  <div class="col s12 m8">
    <h5 class="flow-text"><span class="white-text text-darken-2">Recruitment Management System</span></h3>
  </div>
  <div class="col s12 m1">
    <ul id="dropdown" class="dropdown-content">
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
    <a class="dropdown-button" href="#" data-activates="dropdown"><img src="/../assets/images/menu.png" width="40px" alt="menu" class="responsive-img"></a>   
  </div>
  <div class="col s12 m1"></div>
</div>
<div class="row">
  <div class="col s12 m1"></div>
  <div class="col s12 m6">
    <div class="card large white lighten-4">
        <div class="card-content">
          <div class="valign-wrapper">
            <div class="valign">
              <img src="/../assets/images/user4.png" width="70px" alt="" class="circle responsive-img">
              <br><span class="grey-text text-darken-1">NAME</span>
            </div>
            <div class="valign container">
              <input type="range">
              <div class="center">
                <a class="blue darken-3 btn">EDIT</a>
                <a class="blue darken-3 btn">GO TO PROFILE</a>
              </div>
            </div>
          </div>
          <br>
          <a href="#">
            <div class="valign-wrapper">
              <img src="/../assets/images/user1.png" width="40px" alt="" class="circle responsive-img">
              <span class="grey-text text-darken-1">NAME</span>
              <input type="range">
            </div>
          </a>
          <br>
          
          <div class="center">
            <a class="blue darken-3 btn">ADD</a>
            <a class="blue darken-3 btn">DELETE</a>
          </div>
          <div class="center">
            <span class="grey-text text-darken-1">APPLICANT</span>
          </div>
        </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card large white lighten-4">
      <div class="card-content">
        <div class="valign-wrapper">
          <img src="/../assets/images/user4.png" width="40px" alt="" class="circle responsive-img">
          <span class="grey-text text-darken-1">NAME</span>
        </div><br>
        <div class="center">
          <a class="blue darken-3 btn">ADD</a><br><br>
          <span class="grey-text text-darken-1">ADMIN</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m1"></div>
    </div>